@import "../../global.scss";

.portfolio {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;

  .extra{
    background: rgb(219, 219, 219);
    bottom:0;
    height:197px;
    width:100%;
    bottom:0;
    margin:0;
  }

  span{
    margin-top:80px;
    font-weight: bold;
    color:rgb(180, 63, 171)
  }

  h1 {
    font-size: 50px;
    font-family: 'Quattrocento', serif;
    margin-bottom: 15px;
  }

  .portp{
    font-weight: bold;
  }

  .content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:30px;
    .leftContent{
      flex:6;
      margin-left:200px;
      padding:20px;
      justify-content: center;
      align-items: center;

      h2{
        padding-left:10px;
        margin-bottom:10px;
      }

      p{
        line-height: 25px;
        margin:10px;
        color: rgb(170, 159, 159);
      }
    }

    .rightContent{
      flex:6;
      margin-right:200px;
      padding-bottom:55.5px;

      h2{
        padding-left:10px;
      }

      button{
        margin:10px;
        padding:14px;
        border:none;
        font-weight:bold;
      }
    }
    @include mobile{
      font-size: 20px;
    }
  }

}